.signup-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 60px);
  background-color: #DFFFFD;
  overflow: hidden;
}

.signup-box {
  display: flex;
  width: 900px;
  height: 600px;
  background: rgb(241, 241, 241);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.signup-left, .signup-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-left {
  background-color: #f0f0f0;
  width: 50%;
  height: 100%;
}

.signup-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-right {
  background-color: rgb(241, 241, 241);
  padding: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative; 
}

.logo-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  z-index: 1; 
}

.logo-image {
  width: 250px;
  height: auto;
  margin-left:80px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -10px;

}

.signup-form {
  width: 67%;
  height: 330px;
  margin-bottom:10px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: -10px;
  color: #2D8984;
}
.box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.field {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border:none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.364);
  background: transparent;
}
.field:focus ~ label,
.field:valid ~ label {
  top: -10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.784);
}
.box label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.458);
  font-size: 1rem;
  transition: 0.5s;
  pointer-events: none;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative; 
}


.toggle-password-icon {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer;
  width: 17px; 
  height: 17px; 
  opacity: 0.8; 
  transition: opacity 0.2s ease-in-out; 
}

.toggle-password-icon:hover {
  opacity: 1; 
}

.signup-button {
  width: 90%;
  margin-top:20px;
  font-size:20px;
  padding: 10px;
  background-color: #2D8984;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #1A5A5A;
}