.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.about-image{
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 30%; 
  height: 650px;
  border-radius: 10px;
}

.about-text{
  flex: 1;
  padding: 20px;
  text-align: justify;
  margin-left:50px;
  margin-right:100px;
}

.about-text h1 {
  color: #000000; 
}